body {
    margin: 0;
    background-color: #121214;
    font-family: "Roboto", serif;
}

header {
    background-color: #121214;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 154px;
    min-width: 100px;
}

main {
    padding:0;
    display: flex;
    justify-content: center;
}

.section-content {
    text-align: center;
    color: white;
    width: 400px;
}

.section-content h2 {
    color: #7C7C8A;
    font-size: medium;
    font-weight: normal;
    padding-bottom: 25px;
}

.form-group {
    justify-content: center;
    text-align: left;
    margin-bottom: 15px;
    width: 347px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    color: white;
    background-color: #202024;
    width: 100%;
    padding: 10px;
    border-style: none;
    border-radius: 4px;
    margin-top: 5px;
    outline: none;
    padding-left: 43px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 28px;
}

.form-group input:hover {
    background-color: #28282f;
}

#nome {
    background-image: url('../img/account_circle.png');
}
#telefone {
    background-image: url('../img/call.png');
}
#cnpj {
    background-image: url('../img/description.png');
}
#email {
    background-image: url('../img/mail.png');
}
#senha {
    background-image: url('../img/lock.png');
}
#confirmar-senha {
    background-image: url('../img/lock.png');
}

#button{
    background-color: #30A46C;
    padding: 4px;
    border-radius: 5px;
    height: 36px;
    width: 400px;
    color: #202024;
    font-weight: bold;
    margin-top: 20px;
}

#button:hover {
    background-color: #31c869;
}

footer {
    margin: auto;
    margin-top: 15px;
    width: 400px;
}

footer a {
    display: flex;
    justify-content: center;
    color: #7C7C8A;
    margin-bottom: 25px;
}

footer a:hover {
    color: white;
    font-size: 17px;
    margin-bottom: 24.5px;
}
